<!DOCTYPE html>
<html class="no-js" lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>anim</title>
		<link href="css/ws10.css" rel="stylesheet"/>
		<link href="css/styles.css" rel="stylesheet"/>
		<script>
			(function () {
				var html = document.documentElement;
				html.className = html.className.replace('no-js', 'js');
			})();
		</script>
	</head>
	<body>
		<div data-ws10-spritesheet="img/svg/sprite.mva10.svg" data-ws10-js="spritesheet-loader"></div>
		<div data-ws10-spritesheet="img/svg/sprite.mid.svg" data-ws10-js="spritesheet-loader"></div>
		<div class="ws10-o-wrapper">
			<h2 class="ws10-c-title ws10-u-color--vodafone-red">Hello Vodafone anim!</h2>
			<h3 class="vfes-title">{{title}}</h3>
			<p class="ws10-c-title">La ubicación del fichero JSON: {{url}}</p>
		</div>
		<div class="ws10-o-wrapper">
			<h3 class="ws10-c-title">{{common.title}}</h3>
			<p>La ubicación del fichero JSON: {{common.url}}</p>
			<h4 class="ws10-c-title">Recuerda: </h4>
			<p> Si la clave de tu JSON LOCAL coincide con la clave del JSON Global, priorizará el contenido del JSON local. </p>
			<h4 class="ws10-c-title">Ejemplo</h4>
			<ul>
				<li>{{mismakey}}</li>
			</ul>
		</div>
		<script src="js/ws10.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
